/*encoding: utf-8*/
/*author: gendseo*/
/*date: 2019-10-12*/
/* updated: 2019-10-14 */

#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

#main-left {
    height: 100%;
    width: 60%;
    max-width: 60%;
}

#main-right {
    height: 100%;
    width: 40%;
    max-width: 40%;
    margin-left: 60%;
    position: fixed;
}

.table-nav {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.table-nav-button {
    border: 0;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    background-color: gray;
}

.table-nav>* {
    margin: 8px 16px;
}

table {
    width: 100%;
    height: 100%;
    position: relative;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #c6c6c6 !important;
}

table th {
    border-collapse: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    background-color: #dff0d8 !important;
    color: #3c763d;
    font-size: 1rem;
    font-weight: normal;
    padding: 5px;
    height: 2rem;
}

table td {
    border-collapse: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    font-size: 12px;
    font-weight: normal;
    word-break: break-all;
}

table tr:nth-child(odd) {
    background-color: #fff !important;
}

table tr:nth-child(even) {
    background-color: #f8f8f8 !important;
}

tbody tr:hover {
    background: linear-gradient(#fff, #dbe2ef);
    transform: scale(1.002);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    cursor: pointer;
}

#notice {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 1.6rem;
    line-height: 32px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
}